.mainP {
  margin-top: 20px;
}

:root {
  font-size: 20px;
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

body {
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}

main{
  padding-top: 70px;
  padding-bottom: 100px;
}


.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.sarlavha {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 15px 0px 15px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
.Cardsp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  padding: 50px 0px 50px 0px;
}
.card {
  max-width: 300px;
  min-height: 160px;
  max-width: 350px;
  height: 270px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  text-align: center;
}

.card-footerp {
  width: 100%;
  height: 40px;
  font-size: 0.85em;
  color: #446;
  background-color: hsl(0 0% 100% / 0.4);
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

#Images {
  height: 200px;
  object-fit: cover;
  margin-top: -20px;
  border-radius: 20px;
}
.paganation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: hsl(0 0% 100% / 0.4);
}

@media screen and (min-width: 991px) {
  .Cardsp {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: #224; */
  }
}
@media screen and (max-width: 1091px) {
  .Cardsp {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 731px) {
  .Cardsp {
    display: grid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}



/* loader */

#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#h3 {
  color: white;
}

#ring {
  width: 190px;
  height: 190px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

#ring:nth-child(2) {
  border-bottom: 8px solid rgb(255, 65, 106);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

#ring:nth-child(3) {
  border-bottom: 8px solid rgb(0, 255, 255);
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }

  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}
